<h1>Page accueil</h1>


<h2>Listes de tout</h2>
<h3>Lieux</h3>
<ul>
  <% @places.each do |place| %>
   <li>
      <%= place.name %>
   </li>
  <% end %>
</ul>
<h3>Dieux</h3>
<ul>
  <% @gods.each do |god| %>
   <li>
      <%= god.name %>
   </li>
  <% end %>
</ul>
<h3>Persos</h3>
<ul>
  <% @characters.each do |character| %>
   <li>
      <%= character.name %>(<%= character.user.email %>)
   </li>
  <% end %>
</ul>
<h3>Adversaires</h3>
<ul>
  <% @advs.each do |adv| %>
   <li>
      <%= adv.name %>
   </li>
  <% end %>
</ul>
<h2>gagnant: <%= @winner.name %></h2>
