Joueur: <%= @character.user.email %><br>
Nom: <%= @character.name %><br>
Dieu: <%= @character.god.name %><br>
Attaque: <%= @character.att %><br>
Defense: <%= @character.def %><br>
Points de vie: <%= @character.stamina %><br>
Lieu:
<h1>
  <%= @character.place.name %>
</h1>
<% if @character.place.creatures.count > 1 %>
  <h2>Présences</h2>
  <% unless @character.place.monsters.empty? %>
    <h3>Monstres</h3>
    <ul>
      <% monsters = @character.place.creatures.select {|creature| creature.class == Monster } %>
      <% monsters.each do |monster| %>
        <li>
          <button type="button" class="btn btn-danger" data-toggle="popover" title=<%= monster.name %>
              data-content="Att: <%= monster.att %>, Def: <%= monster.def %>, Stamina: <%= monster.stamina %>"><%= monster.name %></button>
        </li>
      <% end %>
    </ul>
  <% end %>
  <% if @character.place.characters.count > 1 %>
    <h3>Joueurs</h3>
    <ul>
      <% characters = @character.place.creatures.select {|creature| creature.class == Character } %>
      <% characters.each do |character| %>
        <% unless character == @character %>
          <li>
            <button type="button" class="btn btn-info" data-toggle="popover" title=<%= character.name %>
              data-content="<%= character.god.name %>, Att: <%= character.att %>
                          , Def: <%= character.def %>
                          , Stamina: <%= character.stamina %>"><%= character.name %></button>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
<% end %>
<% if @character.place.monsters.empty? %>
  aller vers :
  <ul>
    <% @character.place.links.each do |link| %>
    <li>
      <%= form_tag character_path(@character.user.id), method: :patch do %>
      <%= submit_tag link %>
      <% end %>
    </li>
    <% end %>
  </ul>
<% else %>
  <%= link_to "fuir", place_fuir_path(@character.place) %>
<% end %>
<%= link_to "attaquer", place_engage_path(@character.place) %>
