<h2>Vous engagez le combat</h2>


Adversaires
<% if @monsters.nil? || @monsters.empty? %>
  <% danger = false %>
  Il n'y a plus de danger
<% else %>
  <% danger = true %>
  <ol>
  <% @monsters.each do |monster| %>
    <li>
      <%= monster.name %>
      <%= monster.stamina %>
    </li>
  <% end %>
</ol>
<% end %>

<% if @characters.nil? || @characters.empty? %>
  <% someone = false %>
  Vous êtes tout seul sur ce coup !
<% else %>
  <% someone = true %>
  soutien possible

  <ol>
  <% @characters.each do |character| %>
    <li>
      <%= character.name %>
    </li>
  <% end %>
  </ol>
<% end %>


<h5>prochaine action ?</h5>

<% if someone || danger %>
  <%= simple_form_for @place, :url => place_combat_path, :method => :get do |f| %>
    <% if danger %>
      <%= f.association :monsters, :collection => @monsters, as: :radio_buttons %>
    <% end %>
    <% if someone %>
      <%= f.association :characters, :collection => @characters, as: :radio_buttons %>
    <% end %>
    <%= f.button :submit, "attaquez" %>
  <% end %>
<% end %>

<%= link_to "autre...", character_path(@character) %>


