<h2>Vous engagez le combat</h2>

adversaires

<ol>
<% @monsters.each do |monster| %>
  <li>
    <%= monster.name %>
    <%= monster.stamina %>
  </li>
<% end %>
</ol>

<% if @characters.empty? %>
  Vous êtes tout seul sur ce coup !
<% else %>
  soutien possible

  <ol>
  <% @characters.each do |character| %>
    <li>
      <%= character.name %>
    </li>
  <% end %>
  </ol>
<% end %>


<h5>prochaine action ?</h5>

<%= simple_form_for @place, :url => place_combat_path, :method => :get do |f| %>
  <%= f.association :monsters, :collection => @monsters, as: :radio_buttons %>
  <%= f.button :submit, "attaquez" %>
<% end %>

<%= link_to "fuir", character_path(@character) %>


